<ion-content class="home {{ isPending() }}" (swiperight)="navigate(prev)" (swipeleft)="navigate(next)">

	<div class="search">

		<ion-searchbar
			[(ngModel)]="searchQuery"
			(ionInput)="getPredictions($event)"
			(ionCancel)="resetQuery($event)"
			(ionFocus)="searching=true"
			[showCancelButton]="true"
			placeholder="Search">
		</ion-searchbar>

		<ion-list *ngIf="searching">

			<ion-item class="geolocate" (click)="geolocate()"><ion-icon name="locate"></ion-icon>Geolocate</ion-item>
			<ion-item *ngFor="let location of locations" tappable (click)="setLocation(location)">
				{{location.description}}
			</ion-item>

		</ion-list>

	</div>

	<p class="nearest" *ngIf="nearestPlace">(actually, it's <span>{{ nearestPlace }}</span>)</p>

	<div class="day">

		<div class="animation-container">

			<p class="day__date">{{ time | date:'EEEE' }} {{ time | date:'MMMM' }}, {{ time | date:'d' }}</p>

		</div>

		<div class="animation-container">

			<p class="day__status {{ status | lowercase }}">it's going <span *ngIf="status">{{ status }}</span></p>

		</div>

	</div>


	<div id="chart"></div>

	<div *ngIf="tides" class="extremes">

		<div class="extreme low" [@fade]="fadeState">

			<ion-icon class="extreme__icon"  ios="ios-arrow-round-down-outline" md="ios-arrow-round-down-outline"></ion-icon>

			<div class="extreme__hours">

				<p *ngFor="let extreme of extremes.Low" [class.selected]="extreme.selected === true">{{ extreme.hour }}</p>

			</div>

		</div>

		<div class="extreme high" [@fade]="fadeState">

			<ion-icon class="extreme__icon" ios="ios-arrow-round-up-outline" md="ios-arrow-round-up-outline"></ion-icon>

			<div class="extreme__hours">

				<p *ngFor="let extreme of extremes.High" [class.selected]="extreme.selected === true">{{ extreme.hour }}</p>

			</div>

		</div>

	</div>

</ion-content>
