.home {
  
	#canvas {
		width: 100%;
		height: 300px;
	}

	#chart {
		width: 100%;
		height: 25%;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: optimizeSpeed;
	}

	.area {
	  fill: red;
	}
}
