<ion-content class="home">
  
  <ion-item>
  <i class="icon ion-ios7-search placeholder-icon"></i>
    <ion-input [(ngModel)]="location.name" type="text"></ion-input>
    <button block (click)="getTides()">Search</button>
  </ion-item>

  <ion-searchbar
    [(ngModel)]="searchQuery"
    (keyup)="getPredictions($event)"
    show-cancel="true" 
    placeholder="Search">
    <ion-list>

      <ion-item *ngFor="#location of locations" (click)="setLocation(location)">
        {{location.description}}
      </ion-item>

    </ion-list>
  </ion-searchbar>

  <div class="day">

    <h1>{{ time | date:'EEEE' }} {{ time | date:'d' }}</h1>
    <strong>{{ time | date:'MMMM' }}</strong>

    <div class="controls">
      
      <span class="prev" (click)="getPrevDay()">Prev</span>
      <span class="next" (click)="getNextDay()">Next</span>

    </div>

  </div>

  <div *ngIf="tides" class="extremes">

    <div class="extreme">

      <h3 class="extreme__title">
        High Tides
      </h3>

      <p *ngFor="#extreme of extremes.High">

          <span>{{ extreme.hour }}</span>
          
      </p>

    </div>

    <div class="extreme">

      <h3 class="extreme__title">
        Low Tides
      </h3>

      <p *ngFor="#extreme of extremes.Low">

          <span>{{ extreme.hour }}</span>
          
      </p>

    </div>

  </div>

  <canvas id="canvas"></canvas>
    
</ion-content>
