<ion-content class="home">

  <div class="search">
    
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (keyup)="getPredictions($event)"
      (ionCancel)="resetQuery"
      show-cancel="true" 
      placeholder="Search">
    </ion-searchbar>

    <ion-list>

      <ion-item *ngFor="#location of locations" tappable (click)="setLocation(location)">
        {{location.description}}
      </ion-item>

    </ion-list>
    
  </div>

  <div class="day">

    <h1>{{ time | date:'EEEE' }} {{ time | date:'d' }}</h1>
    <strong>{{ time | date:'MMMM' }}</strong>

    <div class="controls">
      
      <span class="prev" tappable (click)="getPrevDay()">Prev</span>
      <span class="next" tappable (click)="getNextDay()">Next</span>

    </div>

  </div>

  <div *ngIf="tides" class="extremes">

    <div class="extreme">

      <h3 class="extreme__title">
        High Tides
      </h3>

      <p *ngFor="#extreme of extremes.High">

          <span>{{ extreme.hour }}</span>
          
      </p>

    </div>

    <div class="extreme">

      <h3 class="extreme__title">
        Low Tides
      </h3>

      <p *ngFor="#extreme of extremes.Low">

          <span>{{ extreme.hour }}</span>
          
      </p>

    </div>

  </div>

  <div id="chart"></div>

  <!-- <div id="chart">
    <svg id="area">
      <g class="grid x-grid">
        <line stroke="#000" x1="0" x2="100" y1="100" y2="100"></line>
      </g>
      <g>
        <text x="25" y="100">06h</text>
        <text x="50" y="100">12h</text>
        <text x="75" y="100">18h</text>
      </g>
    </svg>
  </div> -->
    
</ion-content>
